<div class="container">
  <div class="row justify-content-center header">
    <h1>todos</h1>
  </div>
  <div class="justify-content-center main">
    <app-add-todo></app-add-todo>
    <app-todo-list></app-todo-list>
  </div>
  <div *ngIf="todosservice.calculateAllTodos()" class="justify-content-center footer">
    <app-todo-counters></app-todo-counters>
    <app-todo-buttons></app-todo-buttons>
  </div>
  <div class="row justify-content-center">
    <app-paginator></app-paginator>
  </div>
</div>