<div class="container">
  <div class="row justify-content-center header">
    <h1>todos</h1>
  </div>
  <div class="justify-content-center main">
    <app-add-todo (onAddTodo)="addTodo($event)"></app-add-todo>
    <ul class="justify-content-center list"> 
      <app-todo *ngFor="let todo of getTodoItems()" [todo]="todo"></app-todo>
    </ul>
  </div>
  <div *ngIf="calculateAllTodos()" class="justify-content-center footer">
    <app-todo-counters></app-todo-counters>
    <app-todo-buttons></app-todo-buttons>
  </div>
  <div class="row justify-content-center">
    <app-paginator></app-paginator>
  </div>
</div>